<!Doctype html>
<html>
    <head></head>
    <title></title>
    <body>
        <h1>CHOOSE THE IMAGE</h1>
        <form action = "/predict" method = "post" onsubmit="">
            <input type = "radio" name = "image" id = "op1"value = "1" style = "width:20px;height:20px;"><img src = "cat.jpg" alt 
                    = "cat" style="width:200px;height:200px;" align = "middle"><br>
            <input type = "radio" name = "image" id = "op2" value = "2" style = "width:20px;height:20px;"><img src = "dog.jpg" alt 
                    = "dog" style="width:200px;height:200px;" align = "middle">
            <br>
            <input type = "submit" name = "sub" style = "width:100px;height:50px">
            </form>
        </body>
    <html>